

{% extends 'base.html' %}

{% block content %}
<section class="vh-100 gradient-custom">


        <div class="card mx-auto bg-dark" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
            <h2 class="fw-bold mb-2 text-uppercase text-white">Login with Phone</h2>
            <p class="text-white-50 mb-5">Please enter your Phone Number</p>
          {% include 'includes/alerts.html' %}
          <form action="{% url 'otplogin'%}" method="post">
            {% csrf_token %}
              <div class="form-group">
                 <input type="number" class="form-control" placeholder="Mobile Number" name="phone_number">
              </div> 
              
              </div> 
              <div class="form-group">
                <button class="btn btn-outline-light btn-lg px-5 b" type="submit">Send OTP</button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
    
    </section>
{% endblock content %}